header
{background-color: #ffc8dd;
  font-family: "copperplate", fantasy;
  font-size: 2.5em;
}
aside {
  width: 80%;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 4px;
  margin-right: 4px;
 
}
footer
{background-color: #ffc8dd;
  font-family: "copperplate", fantasy;
  font-size: 1em;
}